[mysqld]
sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
skip-name-resolve = ON
join_buffer_size = 512K
table_definition_cache = 732
performance_schema = ON
innodb_buffer_pool_size = 1G
innodb_log_file_size = 32M
key_buffer_size = 3M
wait_timeout = 28800
interactive_timeout = 28800
max_allowed_packet = 256M

[mariadb-client]
host = 127.0.0.1