node_modules
**/@eaDir
@eaDir
**/*.sql
*.sql
*.log
**/*.csv
.env
.auth
tools/*.sh
web/.auth
.gitmodules
web/data/**
web/app/queue/*.txt
web/rapiserve
web/app/*.sqlite3
web/config/*
!web/config/*-example.*
web/app/output/logs/*.txt
web/app/output/cache/*
web/app/output/temp/*
docker/etc/ssh/**
!docker/etc/ssh/*-example.*
docker/db/
**/job.lock
**/jobs/*/*/*.txt
**/cookies.txt
**/config.php
**/.DS_Store
**/downloaded*.json
**/*.bak
web/jobs/*
!web/jobs/core
web/dGVzdGluZw==
web/ZGF0YQ==
web/sync
cron.log
web/mediadirs.json
dupes.json
*.wg*.conf
