**/@eaDir
@eaDir
.env
.auth
web/.auth
.gitmodules
web/data/**
web/config/*
!web/config/*-example.*
web/logs/*.txt
docker/etc/ssh/**
!docker/etc/ssh/*-example.*
docker/db/
**/job.lock
**/cookies.txt
**/.DS_Store
web/jobs/*
!web/jobs/cleanup
!web/jobs/compress
!web/jobs/faststart
!web/jobs/mirror-copy
!web/jobs/mirror-db
!web/jobs/mirror-sync
!web/jobs/sync
cron.log
