[submodule "web/jobs/ssdl"]
	path = web/jobs/ssdl
	url = https://github.com/fauxfeather/ssdl
[submodule "web/jobs/cdlr"]
	path = web/jobs/cdlr
	url = https://github.com/fauxfeather/cdlr
[submodule "web/jobs/eapi"]
	path = web/jobs/eapi
	url = https://github.com/fauxfeather/eapi
[submodule "web/jobs/fadl"]
	path = web/jobs/fadl
	url = https://github.com/fauxfeather/fadl
